 body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
}
body::-webkit-scrollbar{
    display: none ;
}

nav{
    max-width: calc(100% - 40px);
    width: 100vw ;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    color: white;
    z-index: 99;
}
#name{
 width: 20%;
 min-width: 120px;
 padding: 5px;
 border-radius: 10px;
 border: none;
 outline: none;
 text-align: center;
}

.inputBar{
    max-width: 100%;
    width: 100vw ;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-bottom: 25px;
}

#input {
    min-width: 60%;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background-color: #e7e7e7;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 20px; 
    font-size: large;
    height: 30px;
    text-align: start;
    outline: none;
}
#submit{
    border: none;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 20px;
    height: 40px;
    background-color: green;
    color: white;
} 

.messages{
    color: white; 
    margin-bottom: 110px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
    width: 100vw;
    padding: 5px 20px;
    gap: 10px;
    text-align: center;
}
.right{
    margin-left: auto;
    border-radius: 15px 0 15px 15px;
    background: #452626;
}
.left{
    margin-right: auto;
    border-radius: 0px 15px 15px 15px;
    background-color: rgb(34, 48, 48);
}

.message{
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: larger;
}

.message p{
    margin: 0;
    margin-bottom: 4px;
}

.details{
    font-size: x-small;
    color: #a1a1a1;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

#clear{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
}

button:hover{
    opacity: 0.85;
    cursor: pointer;
}